################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GymMovesWebAPI
/GymMovesWebAPI/Properties/PublishProfiles
/GymMovesWebAPI/bin
/GymMovesWebAPI/obj
