################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GymMoves_WebAPI/.vs/GymMoves_WebAPI/v16
