@{
    Layout =  null;
}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#get-all').on('click', function () {
                $.get('/api/gym/getall', function (data) {
                    alert("abc");
                    console.log(data);
                    $('#test-div').empty();
                    $('#test-div').html(
                        data[0].gymId + "<br>" + data[0].gymName + "<br>" + data[0].gymBranch
                    );
                }, 'json');
            });


            $('#submit').on('click', function (e) {
                e.preventDefault()

                var jsonObject = new Object();
                jsonObject.tt = $('#tt').val();
                jsonObject.nn = Number($('#nn').val());

                var string = JSON.stringify(jsonObject);
                console.log(string);
                console.log(jsonObject);

                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    url: "/api/test/poof",
                    data: string,
                    dataType: "json",
                    success: function (data) {console.log(data)}
                });
            });
        });
    </script>
</head>
<body>
    <button id="get-all">Get Gyms</button>
    <div id="test-div"></div>
    <br />
    <form id="test-form">
        <input type="text" id="tt" />
        <input type="number" id="nn" />
        <button id="submit" />
    </form>
</body>
</html>